@import '../App.scss';

.Skills-container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
}

.skills-heading {
	align-self: center;
	color: #33323d;
	font-family: 'Ibarra Real Nova', serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: -0.357px;
	margin-top: 40px;
}

.tech-icons {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	align-items: center;
	row-gap: 30px;
	column-gap: 20px;
	width: 100%;
	margin: 0 auto 80px;
}

.tech-icon {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 5px 2px;
	row-gap: 10px;
	box-shadow: 10px 10px 18px #e2e5ea, -10px -10px 18px #e2e5ea;
}

.tech-img {
	width: 64px;
	height: 64px;
	object-fit: contain;
	text-align: center;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.tech-icons {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1024px) {
	.tech-icons {
		grid-template-columns: repeat(5, 1fr);
	}
}
