$cyan: #5fb4a2;
$dark-blue: #203a4c;
$grayish-dark-blue: #33323d;
$bg-light-grey: #fafafa;
$light-grey: #eaeaeb;
$bright-red: #f43030;
$light: #ffffff;

* {
	box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden;
}

.Container {
	width: 100vw;
}

.Wrapper {
	max-width: 375px;
	margin: 0 auto;
	padding: 0 32px;
}

.Nav-logo {
	font-size: 20px;
	font-family: 'Ibarra Real Nova', serif;
	font-weight: 700;
}

.Main-text {
	max-width: 311px;
	color: $grayish-dark-blue;
	font-family: 'Ibarra Real Nova', serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: -0.357px;
}

.Sub-text {
	max-width: 311px;
	color: $grayish-dark-blue;
	font-family: 'Ibarra Real Nova', serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: -0.286px;
}

.Text-center {
	text-align: center;
}

.Tex-left {
	text-align: left;
}

@media (max-width: 350px) {
	.Sub-text {
		font-size: 25px;
	}
}

@media (min-width: 768px) {
	.Wrapper {
		max-width: 768px;
		margin: 0 auto;
		padding: 0 32px;
	}

	.Main-text {
		max-width: 458px;
	}

	.Text-center {
		text-align: left;
	}
}

@media (min-width: 1110px) {
	.Wrapper {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 32px;
	}

	.Main-text {
		max-width: 390px;
	}

	.Text-center {
		text-align: left;
	}
}
