html {
	font-size: 16px;
	width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fafafa;
	/* font-family: 'Ibarra Real Nova', serif; */
	/* font-family: 'Public Sans', sans-serif; */
}

h1,
h2,
p,
hr {
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #5fb4a2;
}

.Contact-btn-text a:hover {
color: #fafafa;
}
